#header {
	text-align: center; /*Align the text center*/
	margin-top: 10%; /*5% margin on top of elements*/
}

#header h2 {
    font-size: 3rem;
}
a{
    text-decoration: none;
    color:#000;
}
.gallery {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 50px;
    margin: 5%;
    justify-content: space-evenly;
}
h3, p {
    text-align: center;
  }
.buttonRes {
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 5%;
    cursor: pointer;  
    border-radius: 7%;
    transition: 0.4s; 
    background-color: #fab700;
}
.buttonRes:hover {
    background-color: #dfa300;
    box-shadow: 1px 1px 10px rgba(105, 105, 105,0.5);
}
.carrow {
    width: 30%;
    background-image: linear-gradient(180deg, #fab700 0%, #eefa4c 100%);
    border-radius: 12px;
    box-shadow: -8px 8px 12px dimgray;
    transition: 0.4s;
}

.car-info-text h3 {
    font-size: 2.5rem;
    margin: 0;
}

.car-info-text p {
    font-size: 1rem;
}

.carrow .cars {
    width: 100%;
}

.carrow:hover {
    transform: translateY(-30px);
    box-shadow: -16px 16px 32px dimgray;
    z-index: 200;
}
#carpic1 {
    content: url(../images/cars/toyota.png);
}
#carpic2 {
    content: url(../images/cars/tesla2.png);
}
#carpic3 {
    content: url(../images/cars/tesla3.png); 
}
#carpic4 {
    content: url(../images/cars/bmwM5.png);
}
#carpic5 {
    content: url(../images/cars/mercedescabrio.png);
}
#carpic6 {
    content: url(../images/cars/mercedesclk.png);
}
#carpic7 {
    content: url(../images/cars/cadillac.png);
}
#carpic8 {
    content: url(../images/cars/Velar.png);
}
#carpic9 {
    content: url(../images/cars/land_rover.png);
}