html {
    scroll-behavior:smooth;
}
.face {
    content: url(../images/face.png);
    width: 50px;
}

.linkedin {
    content: url(../images/linkedin.png);
    width: 50px;
}

.twitter {
    content: url(../images/twitter.png);
    width: 50px;
}

.footer {
    position: relative;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    height: 60px;
    width: 90%;
    padding: 2% 5%;
    background-color: rgba(0, 0, 0, 1);
    align-items: center;
}
.copyright {
    display: flex;
    flex-direction: column;
    width: 85%;
}

.copyrightName {
    padding: 0;
    margin: 0;
    color: white;
}


.copyrightName a {
    text-decoration: underline;
    color: white;
}

.name a {
    text-decoration: none;
}
.images {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

#butoni {
    opacity: 0;
}

#showButton {
    opacity: 0;
    /* display: none; */
    position: fixed;
    bottom: 140px;
    right: 50px;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    z-index: 4000;
}

.toTopButtonImage {
    overflow-x: hidden;
    content: url(../images/arrowup.png);
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.buttonScroll-visible {
    opacity: 1;
    animation: fadeInRight 1s ease 1 forwards;
}
.buttonScroll-hidden {
    opacity: 0;
    animation: fadeOutRight 1s ease 1 forwards;
}



@keyframes fadeInRight {
    0%{opacity: 0; transform: translateX(100%);}
    100%{opacity: 1; transform: translateX(0);}
}
@keyframes fadeOutRight {
    0%{opacity: 1; transform: translateX(0);}
    100%{opacity: 0; transform: translateX(100%);}
}



@media screen and (max-width: 1400px){
    .images {
        width: 20%;
    }
}