
li{
	font-size: 1.25rem;
}
hr{
	width:90%;
	margin:auto
}
.row {
	width: 90%; /*90% width of the parent element (body)*/
	padding: 0 5% 5% 5%; /*5% paddint in left,right and bottom of the row*/
	display: flex; /*Display the elements as flex elements so we can create a grid*/
	flex-direction: row; /*declare the axes of the grid in this case rows(horizontal)*/
	justify-content: space-evenly; /*distribution of spaces between elements of the grid in evenly which makes every space between the elements itself and also the grid even*/
	flex-wrap:wrap; /*makes it possible to have multiple lines of div elements, the elements wich are last appear in the next row dependig on the screen size*/
	margin-top: 10%; /*50px margin on top of elements*/
}
.rowElement {
	width: 45%;
}
#row2{
	margin-top:5%;
}
#headers {
	text-align: center; /*Align the text center*/
	font-size: 1.5rem;
}

@media screen and (max-width: 720px) { /* change style when screen size is less than 720 */
.row{
	flex-direction: column; /*change the direct of the grid from row to coloumn to show all the elements in aline*/
	justify-content: space-evenly; /*distribution of spaces between elements of the grid in evenly which makes every space between the elements itself and also the grid even*/
	align-items: center; /*makes the elements inside appear in the center*/
	height: auto; /* the height is calculated automaticlly by the browser*/
	display: flex; /*Display the elements as flex elements so we can create a grid*/
	}
} 
.foto{
	width: 100%;
	height:auto;
}

#policiesPhoto{content: url(../images/policies/policies.jpg);}
#keyPhoto{content: url(../images/policies/keys.jpg);}
