/* div {
    border: 1px solid black;
} */

/* ============================================
Main body style and .main div style
body changes the font-family to poppins, which is also imported
.main positions the page to each corner 
so we do not have white space above and to the left of the page
============================================ */
html {
    font-size: 16px;
}

body {
    font-family: 'Poppins';
}

/* ::selection {
    background-color: white;
} */

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/* ============================================
    the styles below are for the navbar and apply to all five pages
============================================ */
.navbar {
    position: fixed;  /* Sticky position so the navbar is always on top of the page even if we scroll */
    top: 0;  /* top 0 for the navbar to be on top */
    display: flex;  /* Creating a flexbox to display items as flex elements then position them easily */
    justify-content: space-between;  /* Since we have 2 main elements in the navbar we give this property to push both elements away from each other to the opposite ends */
    align-items: center;  /* Since we have a deafult flex-direction:row this property with align items in the center vertically */
    z-index: 2000;  /* z-index is 2000 so it is always on top, 2000 value is to overestimate so we do not need to go back and change if we add more elements */
    height: 100px;  /* 100px height */
    width: 90%;  /* this is not 100% so we add padding later and then we have 5% space on both ends */
    background-color: rgba(0, 0, 0, 0);  /* background-color black */
    padding: 0 5%;  /* The padding to push elements away from the corners */
    transition: background-color 0.5s;
}

.nav-logo {
    display: inherit;  /* To inherit the flexbox so that we position the logo and the brand name */
    height: inherit;  /* height is also inherited */
}

.logo {
    display: inherit;
}
.image {
    content: url(../images/logo.png);
}
.name {
    font-size: 1.75rem;
    margin: 0 25px;
    padding: 9% 0;
}

.name a {
    text-decoration: none;
    color: white;
    text-shadow: 5px 5px 10px  gray;

}

.nav-links {
    display: flex;
    transition: display 0.6s ease;
}

.nav-link {
    margin: 0 25px;
    padding: 20px 0;
    transition: all 0.6s ease;
}

.nav-link a {
    text-decoration: none;
    font-size: 1.25em;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 10px  gray;
    transition: all 0.6s ease;
}

.dropmenu {
    display: none;
    transition: all 0.6s ease;
}

.dropbtn {
    transition: all 0.6s ease;
}

/* ============================================
    Homepage
============================================ */

.homepage {
    position: relative;
    top: 0;
}

.homepageImage {
    width: 100%;
}

.homepageImage img{
    width: 100%;
    filter: brightness(0.4);
}

.text {
    position: absolute;
    width: 100%;
    left: 0;
    top: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.text h6 {
    margin: 0;
}

.linkTxt {
    text-decoration: none;
    color: white;
    background-color: #fab700;
    text-transform: uppercase;
    font-weight: 800;
    padding: 25px 60px;
    font-size: 2rem;
    transition: 0.3s;
    margin-top: 50px;
}

.linkTxt:hover {
    border: 1px solid #fab700;
    background-color: transparent;
    transform: scale(1.05);
    font-size: 2.1rem;
    color: #fab700;
}

#firstTxt {
    font-size: 2rem;
}

#scndTxt{
    font-size: 4rem;
    text-transform: uppercase;
}

.why-us {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.question {
    display: inherit;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}

.question h6 {
    font-size: 3rem;
    margin: 0;
}

.question p {
    font-size: 1.5rem;
    color: grey;
}

.services {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.services-item {
    width: 26%;
    background-color: #fab700;
    height: 300px;
    border-radius: 15px;
    display: inherit;
    flex-direction: column;
    justify-content: center;
    padding: 0 2%;
    box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}

.services-item:hover {
    transform: translateY(-35px) scale(1.1);
    box-shadow: -6px 6px 25px rgba(0, 0, 0, 0.7);
    background-color: rgb(226, 166, 0);
}

.services-item p {
    color: white;
}

.services-item-photo {
    display: flex;
    align-items: baseline;
    gap: 15px;
    text-transform: uppercase;
}
.services-item-photo h6{
    margin: 0;
    font-size: 1.7rem;
}
.contactUs {
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactUs img {
    display: block; /* For some reason the image has some space below that is not a margin or padding but by adding display:block that is fixed */
    width: 100%;
    margin: 0;
    padding: 0;
    filter: brightness(0.7);
}

.supportTeam {
    position: absolute;
    display: inherit;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.supportTeam h6 {
    font-size: 2.1rem;
    color: white;
    margin: 0;
}

.contact-us-link {
    margin: 0;
    transform: none !important;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    background-color: #fab700;
    text-transform: uppercase;
    font-weight: 800;
    padding: 25px 60px;
    transition: 0.3s;
    margin-bottom: 100px;
    border: 1px solid #fab700;
}

.contact-us-link:hover {
    transform: none !important;
    background-color: transparent;
    padding: 20px 35px;
    font-size: 1.5rem;
    color: #fab700;
}

.quality {
    width: 60%;
    margin: 150px 20% 100px 20%;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.car-quality {
    display: flex;
    gap: 50px;
}

.car-quality div {
    display: flex;
    flex-direction: column;
}

.car-quality h6 {
    font-size: 2rem;
    margin: 0;
    text-transform: uppercase;
}

.car-quality p {
    font-size: 1.3rem;
}

.our-fleet-link {
    padding: 2% 20%;
    text-align: center;
    width: 33%;
    font-size: 1rem;
    margin: 0;
}

.our-fleet-link:hover {
    font-size: 1.1rem;
}

.slideshow-next-prev-buttons {
    display: flex;
    flex-direction: row !important;
    justify-content: center;
}

.next-prev-buttons { 
    /* width: 150px; */
    padding: 0 5%;
    color: #fab700;
    cursor: pointer;
}

.next-prev-buttons:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#slideshow-buttons {
    text-align: center;
    user-select: none;
}

#fleetImg {
    width: 100%;
}
/* ===================================================
======================Should be removed unless used=============================
===================================================*/

.whyUs {
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom , white , rgb(210,210,210));
    align-items: left;
    width: 50%;
    padding: 190px 25%;
}

.details p {
    margin: 0;
    font-size: 18px;
}

/* ===================================================
===================================================
===================================================*/

/* Achievments division starts here and ends after the images are added */
.achievments {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;    
    padding: 8.3% 0;
    text-transform: uppercase;
    box-shadow: 5px 5px 25px black;
}

.achievments img {
    position: absolute;
    filter: brightness(0.3);
    width: 100%;
}

.achievment-text {
    display: flex;
    position: absolute;
    justify-content: center;
}

.counter-icon {
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
}

.counter-icon h6 {
    font-size: 3.1rem;
    margin: 0;
}

.counter-icon p {
    margin: 0;
}

/* Images for the counters added through css and given the same width so they are the same size */
#clients {
    content: url(../images/homepage/people.png);
    width: 15%;
}

#cities {
    content: url(../images/homepage/citiesIcon.png);
    width: 15%;
}

#members {
    content: url(../images/homepage/membersIcon.png);
    width: 15%;
}

#cars {
    content: url(../images/homepage/carIcon.png);
    width: 15%;
}

.easy-booking {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 3% 25% 10% 25%;
}

.rent-steps-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rent-steps-info h6 {
    font-size: 3rem;
    margin: 100px 0 0 0;
    text-transform: uppercase;
}
.rent-steps-info p {
    font-size: 1rem;
    color: grey;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu a {
    width: 100%;
    cursor: pointer;
}


.steps {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9e7400;
    border-radius: 30px 30px 0 0;
    z-index: 2000;
    transition: 0.5s;
}
.menu a:hover {
    font-size: 1.3rem;
}

.easy-booking-content {
    display: flex;
    position: relative;
}

.easy-booking-content-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 15%;
    background-color: #ffffff;
    box-shadow: -15px 15px 35px -15px black;
    border-radius: 0 0 15px 15px;
    z-index: 0;
}

.easy-booking-content-item div {
    text-align: center;
}

.easy-booking-content-item h6 {
    font-size: 2.2rem;
    margin: 0;
    text-transform: uppercase;
}

.easy-booking-content-item p {
    font-size: 1rem;
    margin: 0;
}

#book-final-item {
    color: #000;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px;
}

#book-final-item:hover {
    text-decoration: underline;
}

#item1 {
    display: none;
}

#item2 {
    display: none;
}

#item3 {
    display: none;
}

@media screen and (max-width: 1400px) {
    html {
        font-size: 12px;
    }

    .main {
        overflow-x: hidden; /* This is used to hide the mobile menu to the side.
        It is on the side by the "right" property, but it overflows,
         so, this hides that overflow making the menu seem to come from the right side out of nowhere */
        }

    .nav-links {
        display: none;
    }

    .dropmenu{
        display: block;
        font-weight: bold;
        margin-right: 50px;
        overflow-x: hidden;
    }
    #menu {
        content: url(../images/menu.png);
        width: 60px;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .dropbtn {
        overflow-x: hidden !important;
        position: absolute;
        margin: 0;
        right: 0;
        top: 0;
        z-index: 1;
        height: auto;
        width: 200px;
        transform: translateX(200px);
        transition: transform 0.3s;
        background-color: #000;
        list-style-type: none;
        border-radius: 0 0 0 35px;
        text-align: left;
        padding: 0;
    }
    
    .dropbtn li {
        margin: 25px 20px;
    }
    
    .dropbtn li a{
        text-decoration: none;
        color: #fab700;
        display: block;
        width: auto;
        padding: 8px 8px 8px 32px;
    }
    
    #closeButton {
        text-align: right;
        color: #fab700;
        cursor: pointer;
    }
    
    .text {
        top: 250px;
    }
    
    #frst-component {
        flex-direction: column;
    }
    #scnd-component {
        flex-direction: column-reverse;
    }
    .our-fleet-link {
        width: 20%;
        padding: 2% 1%;
    }
    .services {
        flex-direction: column;
        align-items: center;
    }
    #fleetImg {
        width: 70%;
    }
    #slideshow-buttons {
        display: flex;
        flex-direction: column;
    }
    .slideshow-next-prev-buttons {
        justify-content: left;
    }
}