/* div {
    border: 1px solid black;
} */

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* z-index: 2000; */
    height: 100px;
    width: 90%;
    background-color: #FF652F;
    padding: 0 5%;
}

.nav-logo {
    display: inherit;
    height: inherit;
}

.logo {
    display: inherit;
}
.image {
    content: url(../images/logo.png);
}
.name {
    font-size: 36px;
    margin: 0 25px;
    padding: 8% 0;
}

.name a {
    text-decoration: none;
    color: white;
}

.nav-links {
    display: flex;
}

.nav-link {
    margin: 0 25px;
    padding: 20px 0;
}

.nav-link a {
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.dropmenu {
    display: none;
}

@media screen and (max-width: 1476px) {
    .nav-links {
        display: none;
    }

    .dropmenu{
        display: inline;
        font-weight: bold;
        text-align: center;
        color: white;
        border-radius: 5px;
        margin-right: 50px;
    }
    #menu {
        content: url(../images/menu.png);
        width: 60px;
        border-radius: 5px;
    }
    
    .dropmenu:hover {
        background-color: #FF452F;
    }
    
    .dropbtn {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 25%;
        position: absolute;
    }
    
    .dropbtn li {
        background-color: white;
        border: 2px solid #FF452F;
        border-top: 0;
        border-radius: 5px;
        padding: 10px 0;
        transition: 0.2s ease-in-out;
    }

    #borderHome {
        border-top: 2px solid #FF452F;
    }

    .dropbtn li a {
        text-decoration: none;
        color: black;
        font-size: 24px;
        transition: 0.2s ease-in-out;
    }

    .dropbtn li:hover a {
        color: white;
    }

    .dropbtn li:hover{
        background-color: #FF652F;
    }

    .dropmenu:hover .dropbtn{
        display: block;
        position: absolute;
        right: 9%;
    }
}