/* div {
    border: 1px solid black;
} */

body {
    font-family: 'Poppins';
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
    height: 100px;
    width: 90%;
    background-color: rgb(0, 0, 0);
    padding: 0 5%;
}

.nav-logo {
    display: inherit;
    height: inherit;
}

.logo {
    display: inherit;
}
.image {
    content: url(../images/logo.png);
}
.name {
    font-size: 36px;
    margin: 0 25px;
    padding: 8% 0;
}

.name a {
    text-decoration: none;
    color: white;
    text-shadow: 5px 5px 10px  gray;

}

.nav-links {
    display: flex;
}

.nav-link {
    margin: 0 25px;
    padding: 20px 0;
}

.nav-link a {
    text-decoration: none;
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 10px  gray;
}

.dropmenu {
    display: none;
}

.homePage {
    height: 700px;
    z-index: auto;
    background:linear-gradient(to bottom, white 20%, rgb(170, 170, 170));
}

.tesla {
    max-height: 700px;
    width: 60%;
    content: url(../images/tesla.png);
    padding-right: 5%;
}

.register {
    width: 30%;
    border-radius: 15px;
    text-align: center;
    background: linear-gradient(to top, rgb(229, 255, 0), rgb(168, 154, 22));
    box-shadow: 5px 5px 25px black;
}

.inputs {
    margin: 0 10px 10px;
}

.inputs label {
    width: 95%;
    margin: 0 3px;
}

.inputs input{
    width: 100%;
    border: 2px double rgb(115, 153, 38);
    border-radius: 5px;
    background-color: rgba(0, 17, 255, 0.35);
    box-shadow: 2px 2px 15px white;
}

.info {
    display: flex;
}

.info input {
    width: 95%;
}

/* Submit Button DIV */
.submit {
    width: 100%;
    margin: 40px 0 20px;
}

/* Submit Button design */
.submit input {
    width: 50%;
    height: 30px;
    background-image: linear-gradient(to right, rgb(255, 122, 122), rgb(255, 255, 0), #00ffff, #ffff00);
    border: 2px solid red;
    border-radius: 15px;
    box-shadow: 0 4px 3px rgb(192, 194, 56);
    background-size: 300% ;
    transition: ease-in-out;
    transition: box-shadow 0.1s, border-color 0.1s, transform 0.1s, background-position 0.7s;
    
}
    .submit input:hover {
        background-position: 100% 0;
        border-color: rgb(175, 0, 0);
    }
    .submit input:active {
        box-shadow: 0 2px 3px rgb(143, 145, 42);
        transform: translateY(2px);
    }

@media screen and (max-width: 1578px) {
    .nav-links {
        display: none;
    }

    .dropmenu{
        display: block;
        font-weight: bold;
        margin-right: 50px;
    }
    #menu {
        content: url(../images/menu.png);
        width: 60px;
        border-radius: 5px;
    }

    .dropbtn {
        /* display: none; */
        position: absolute;
        margin: 0;
        right: 0;
        top: 0;
        z-index: 1;
        height: auto;
        width: 0;
        transition: 0.3s;
        background-color: #542321;
        list-style-type: none;
        border-radius: 0 0 0 35px;
        text-align: left;
        padding: 0;
    }
    
    .dropbtn li {
        margin: 25px 20px;
    }
    
    .dropbtn li a{
        text-decoration: none;
        color: #818181;
        display: block;
        width: auto;
        padding: 8px 8px 8px 32px;
    }

    #closeButton {
        text-align: right;
        color: rgb(216, 216, 216);
    }

    .info {
        display: block;
    }
}